.flex{
    display: flex;
}
/* justify-content */
.no2 .flex{
    justify-content: flex-start;  
    /* 預設值 */
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
}
align-items
.no3 .flex .fsl{
    font-size:  2em;
}

.no3 .flex{
    align-items: stretch;
    /* 預設值 */
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;
}

/* flex-wrap */
.no4 .flex{
    flex-wrap: nowrap;
    /* 預設值 */
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
}

/* align-content */
.no5 .flex{
    flex-wrap: wrap;
    height: 300px;

    align-content: stretch;
    /* 預設值 */
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-around;
    align-content: space-between;
    align-content: space-evenly;
}

/* flex-direction */
.no6 .flex{
    flex-direction: row;
    /* 預設值 */
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
}

/* align-self */
.no7 .flex li:nth-child(1){
    align-self: stretch;}
    /* 預設值} */
    .no7 .flex li:nth-child(2){
        align-self: flex-start;
    }
.no7 .flex li:nth-child(3){
    align-self: flex-end;
}
.no7 .flex li:nth-child(4){
    align-self: center;
}
.no7 .flex li:nth-child(5){
    align-self: baseline;
}

/* order */
.no8 .flex li:nth-child(1){
    order: 2;
}
.no8 .flex li:nth-child(2){
    order: 2;
}
.no8 .flex li:nth-child(3){
    background-color: green;
    order: 1;
}
.no8 .flex li:nth-child(4){
    order: 2;
}
.no8 .flex li:nth-child(5){
    order: 3;
}

/* flex-grow */
.no9 .flex.grow1 li:nth-child(1){
    width: 200px;
    flex-grow: 2;
}
.no9 .flex.grow1 li:nth-child(2){
    width: 400px;
    flex-grow: 3;
}
.no9 .flex.grow2 li:nth-child(1){
    width: 200px;
}
.no9 .flex.grow2 li:nth-child(2){
    flex-grow: 1;
}
/* flex-shrink */
.no10 .flex li{
    width: 200px;
}
.no10 .flex li:nth-child(2){
    flex-shrink: 2;
}
.no10 .flex li:nth-child(3){
    flex-shrink: 3;
}
/* flex-basis */
.no11 .flex{
    flex-direction: column;
}
.no11 .flex li:nth-child(1){
    width: 200px;
}
.no11 .flex li:nth-child(2){
    flex-basis: 200px;
}
