nav{
    background-color: #312f2f;
    padding: 1rem;
    ul{
        display: flex;
        list-style-type: none;
        li{
            padding: 0.5rem 0.75rem;
            a{
                text-decoration: none;
                color: #c4c4c4;
                margin: 1rem;
                font-size: 1.25rem;
                transition: all 0.3s ease;
                i{
                    font-size: 1.75rem;
                }
                $:hover{
                    color: #000;
                }
            }
        }
    }
}